#add-city-btn{
  z-index: 300;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 42px;
  height: 42px;
// utiliser des variables;
&:hover{
  background-color: rgb(177, 216, 241);
}  
img{
    width: 42px;
    height: 42px;
  }
}