.city{
  background-color: $primary-color;
  width: 100%;
  min-height: 60px;
  display:flex;
  justify-content: center;
  position: relative;
  p{
  font-size: 1.6em;
  }
  img.remove-city-icon{
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
  }
}

.active{
  background-color: lighten($primary-color, 10%);
}