.dropdown{
    position: absolute;
    height: 100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.618);
    z-index: 1500;
    display: flex;
    flex-flow: column nowrap;
    span.matching-city{
        box-sizing: border-box;
        width: 100%;
        height:30px;
        border: .5px #fff solid;
        color: yellow;
    }
}

.drop-hidden{
    display:none;
}