html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #7c7ee4;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

#root {
  height: 100%; }

#main-page {
  height: 100%;
  width: 100%; }

#page-header {
  height: 80px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.13);
  display: flex;
  justify-content: center;
  align-items: center; }

h1 {
  font-size: 1.6em; }

#day-header {
  border: white solid 1px;
  height: 35vh;
  width: 100%; }
  #day-header img {
    height: 60px;
    width: 60px;
    min-width: 60px;
    min-height: 60px; }

#day-picker {
  width: 100%;
  height: 65px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

#day-tab {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #01335c;
  border: .5px solid white;
  border-radius: 5px;
  font-size: .85em; }
